// colors
$color_hover: #00ffff;
$color_text: #fff;
$color_black: #1b1b1b;
$color_black_dark: #000;

// others
$main_box: 0 0 5px $color_hover;
$trans: 0.3s;
$b_radius: 5px;
$sub_links_width: 140px;

// sizes
$font_size: 20px;
$paddMar: 20px;
